# Created by https://www.toptal.com/developers/gitignore/api/visualstudiocode
# Edit at https://www.toptal.com/developers/gitignore?templates=visualstudiocode

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

### WebStorm ###
.idea/*
.idea

### VisualStudioCode Patch ###
# Ignore all local history of files
.history

# End of https://www.toptal.com/developers/gitignore/api/visualstudiocode

# IDE
.vscode
.idea

# Node dependency directories
node_modules/
*/node_modules

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# macOS files
.DS_Store